{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

                  <!-- Page Heading -->
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h1 class="h3 mb-0 text-gray-800">Update Quality Range</h1>
                  </div>

                  <form method="post">
                    {% csrf_token %}
                      <!-- Form Row-->
                      <div class="row gx-3">
                          <div class="col-md-6">
                              <!-- Form Group (first name)-->
                              <div class="mb-3">
                                  <label class="small mb-1" for="inputFirstName">Quality</label>
                                  <input class="form-control" value="{{data.quality}}" required id="inputFirstName" type="text"
                                  name="quality">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <!-- Form Group (last name)-->
                              <div class="mb-3">
                                  <label class="small mb-1" for="inputLastName">Minimum Value</label>
                                  <input class="form-control" value="{{data.minimum}}" required id="inputLastName" type="number"
                                  name="min">
                              </div>
                          </div>
                      </div>
                      <div class="row gx-3">
                          <div class="col-md-6">
                              <!-- Form Group (first name)-->
                              <div class="mb-3">
                                  <label class="small mb-1" for="inputFirstName">Maximum Value</label>
                                  <input class="form-control"value="{{data.maximum}}" required id="inputFirstName" type="number"
                                  name="max">
                              </div>
                          </div>

                      </div>

                      <!-- Form Group (create account submit)-->
                      <button type="submit" class="btn btn-success ">Update</button>
                  </form>

{% endblock %}
